body{width: 100%; height: 100%;}
.banner, .container,.wrap{width: 300px; margin: 0 auto; }
.container{margin: 20px auto;}
.container #Post_area {width: 300px; height: 80px;}
.container button{width: 300px;}
#timeline .wrap{border-top: solid 1px black; margin: 0 auto;}
